/* Normalize */

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 1200px;
}

/* // HEADER */

.header_container {
    width: 100%;
    max-width: 1200px;
    padding: 18px 0 20px;
    position: fixed;
    z-index: 5;
    background-color: #FFFFFF;
}

.header_block {
    width: 100%;
}

.nav_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
}

.navbar_list {
    font-family: 'Montserrat';
    display: flex;
    flex-direction: row; 
    gap: 20px; 
    font-size: 16px;
    line-height: 1.75;
}

.nav_item_link:hover {
    color: #FF9900;
}

.header-button {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.button {
    display: flex;
    gap: 10px;
}

.button_in .button_up:hover{
    background-color: #7a5a29;
}

.button_in {
    border-radius: 4px;
    padding: 13px 23px;
    border: 1px solid #BCD0E5;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    transition: background-color .5s ease-in;
}

.button_up {
    color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 13px 23px;
    background: #FF9900;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;  
    transition: background-color .5s ease-in;
}

/* // THINKING BLOCK */

.thinking_block {
    padding: 100px 0 114px;
    display: flex;
}

.button_start {
    display: inline-block;
    background-color: #FF9900;
    border-radius: 4px;
    padding: 12px 30px;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    transition: background-color .5s ease-in;
}

.button_start:hover{
    background-color: #7a5a29;
}

.text_main {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.23;
    color: #2F281E;
    padding-bottom: 30px;
    padding-top: 100px;
}

.text_about {
    font-size: 18px;
    line-height: 1.55;
    padding-bottom: 30px;
}

/* // FEATURES */

.features {
    position: relative;
    padding: 0 0 210px;
}

.features:before {
    content: '';
    position: absolute;
    background: url('../img/bg.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.features h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #2F281E;
    padding-bottom: 50px;
    max-width: 500px;
    margin: 0 auto;
}

.name-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #2F281E;
    padding-bottom: 18px;
    
}

.features-cards {
    display: flex;
    margin: 0 -15px;
    padding-bottom: 70px;
}

.card-item {
    padding: 0 15px;
    width: 25%;
}

.card-item p {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #2F281E;
    margin-bottom: 20px;
}

.card-item span {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.svg {
    margin-bottom: 20px;
}
.svg .hover {
    transition: fill .5s ease-in;
}

.svg:hover .path {
    fill: #050505;
}

.svg .rect {
    transition: opacity .5s ease-in;
}

.svg:hover .hover {
    opacity: 50%;
}

.card-button {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-start {
    padding: 12px 44px;
}

.btn {
    display: inline-block;
    background-color: #FF9900;
    border-radius: 4px;
    padding: 12px 30px;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    transition: background-color .5s ease-in;
}

.btn:hover {
    background-color: #7a5a29;
}


/* // FEATURES */

.benefits {
    padding: 0 0 100px;
}

.benefits-rows {
    display: flex;
    margin: 0 -15px;
}

.benefits-columns {
    padding: 0 15px;
}

.benefits-columns.left{
    flex: 0 0 50%;
    max-width: 50%;
}


.benefits-columns.right{
    flex: 0 0 50%;
    max-width: 50%;
    transform: translateY(-25px);
}
.max-width {
    width: 515px;
    margin: 0 0 auto;
}

.title-text {
    padding-bottom: 40px;
}

.title-text p {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #2F281E;
}

.title-text span {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.textblock p {
    padding-bottom: 15px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #2F281E;
}

.textblock span {
    padding-bottom: 24px;
    display: block;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}


/*--------Product-Managers--------*/

.product_managers {
    padding-bottom: 100px;
}

.pm_content {
    display: flex;
}

.pm_image {
    width: 100%;
    padding-right: 125px;
}

.pm_text {
    width: 100%;
    max-width: 505px;
    transform: translateY(48px);
}

.block1_text {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin-bottom: 40px;
}

.input {
    position: absolute;
    -webkit-appearance: none;
}

.label {
    display: block;
}

.label .fake-checkbox {
    margin: 8px 0;
}

.pm_block2 .label:not(:last-child) {
    margin-bottom: 30px;
}

.fake-checkbox {
    position: absolute;
    width: 35px;
    height: 35px;
    background: #FF9900;
    border-radius: 10px;
    cursor: pointer;
}

.fake-checkbox:hover {
    background-color: #ffa765;
    border: 2px inset lightcoral;
    transition: background-color .3s ease-in;
}

.input:checked + .fake-checkbox {
    background-image: url(../img/checkbox.svg);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox_text {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    margin-left: 60px;
    display: inline-block;
}
/*====================FOOTER===============*/

.bord {
    border: 1px solid #F2F2F2;
    margin-top: 100px;
}
.footer_flex {
    display: flex;
    justify-content: space-between;
    padding: 70px 0 70px 0;
   
}
.footer_flex>img{
    width: 200px;
    height: 32px;
}
.h4_footer{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #2F281E;
}
.qwick{
    display: flex;
    flex-direction: column;
}
.legal{
    display: flex;
    flex-direction: column;
}
.qwick>a {
    padding-top: 24px;
    font-weight: 500;
    font-size: 16px;
    color: #544837;
    text-decoration: none;
}
.qwick>a:hover{
    color: rgb(42, 74, 139);
}
.legal>a {
    padding-top: 24px;
    font-weight: 500;
    font-size: 16px;
    color: #544837;
    text-decoration: none;
}
.legal>a:hover{
    color: rgb(42, 74, 139);
}
.blok_btn_footer{
    max-width: 25%;
}
.blok_btn_footer>p {
    padding-top: 15px;
    font-weight: 500;
    font-size: 16px;
    color: #544837;
}
.blok_btn_footer>span{
    font-weight: 700;
    font-size: 20px;
    color: #2F281E;
}
.blok_btn_footer>input{
    margin-top: 25px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    width: 340px;
    height: 50px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #BCD0E5;
    opacity: 0.5;
}
.btn_footer {
   margin-top:  25px;
}

